@font-face {
    font-family: font1;
    src: url(font.ttf);
}
*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}
body{
    background-color: #1e262a;
}
.main {
    margin-left: auto;
    margin-right: auto;
    margin-top : 15vh;
    width : 300px;
    height: 300px;
    border-radius: 5px 5px 5px 5px;
    
    display: grid;
    grid-row-gap: 1.5%;
    grid-column-gap: 1.5%;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #3c4c54;
    padding: 5px 5px 5px 5px; 
  }
  .box, .result {
    font-family: font1; 
    font-size: 60px;
    font-weight:300px;
    
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px 5px 5px 5px;
    
  }
 .result{
     margin: auto;
     margin-top: 25px;
     font-size: 27px;
     width: 25vh;
     visibility: hidden;
 }
 .box{
     padding-top: 10%;
 }
 .win{
    background-color: rgba(224, 193, 13, 0.986);
 }
 .draw{
    background-color: rgba(56, 158, 221, 0.8);
 }
 p{
    display: inline; 
    visibility: hidden;

 }
.reload{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    opacity: 0.8;
    width: 12vh;

}
.reload:hover{
    opacity: 1;
}
